<%= form_with(model: bug, local: true) do |form| %>
  <% if bug.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</strong>

      <ul>
      <% bug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :author_id, "Author ID" %>
    <%= form.select :author_id, #id: :author_id, class: "form-control",
        options_for_select(Author.all.collect{|a| ["#{a.lname},#{a.fname}",a.id]},
                           selected: (@bug.author ? @bug.author.id : Author.first.id)), {}%>
  </div>
  <div class="form-group">
    <%= form.label :title, "Bug title" %>
    <%= form.text_field :title, id: :bug_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, id: :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :issue_type, "Issue type" %>
    <%= form.select :issue_type, #id: :issue_type, class: "form-control",
       @issue_types.keys, selected: @bug.issue_type %>
  </div>

  <div class="form-group">
    <%= form.label :priority, "Priority" %>
    <%= form.select :priority, #id: :priority, class: "form-control",
       @priorities.keys, selected: @bug.priority %>
  </div>

  <div class="form-group">
    <%= form.label :status, "Status" %>
    <%= form.select :status, @statuses.keys, selected: @bug.status, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', authors_path, class: "btn btn-danger" %>
  </div>
<% end %>
